@{
    ViewData["Title"] = "Anotações";
}
<!doctype html>
<html lang="pt-BR">
<head>
    <title>Anotações</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="~/css/Chat.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7374116760887011" crossorigin="anonymous"></script>

</head>
<body class="img js-fullheight modal-dialog-scrollable" style="background-image: url(../images/bg.jpg); no-repeat center center fixed; overflow: hidden; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">
    <header>
        <div style="float: left; margin-top: 5px">
            <a href="Index" class="fa fa-arrow-left" aria-hidden="true"></a>
        </div>
    </header>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5" style="padding-bottom: 0 !important; margin-bottom:0 !important ">
                    <div style="font-size: 4rem; margin-top: -70px; margin-left: -10px">
                        <h2 class="heading-section" style="font: bold">Olá @ViewData["Nome"]! </h2>
                    </div>
                    <form asp-controller="Home" asp-action="FiltraData" method="post">
                        <div class="row">
                            <div class="col-md-9 col-sm-9">
                                <select id="dataid" name="dataid" class="form-control-plaintext" style="height: 40px; color: #1f1916; background-color: #fbceb5; margin-bottom: 10px" asp-items="ViewBag.Lista"></select>

                            </div>

                            </br>
                            <div class="col-md-3 col-sm-3">
                                <input type="submit" style="margin-bottom: 10px" value="Pesquisar" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>
                <div class="row">
                    <div style="padding-top: 5px; text-align: center">
                        <textarea readonly="readonly" id="anotacao" name="anotacao" style="margin: auto; justify-content: center; font:800; max-height: 65vh !important ; min-height: 65vh ; color: white; background-color: transparent; font-family: 'Dosis', sans-serif;"
                                  rows="13" cols="35" align="center">@ViewData["Anotacao"]</textarea>
                    </div>
                    @*<div class="container">*@
                    @*<div class="row justify-content-center">*@
                    <div class="col-md-6 text-center mb-5">
                        @*<h2 class="heading-section" style="font: bold">Metrônomo</h2>*@
                        <div id="metronome-container">
                            <div id="metronome-controls">
                                <div>
                                    <h7 style="font: bold; color: white; padding-left: 5px">Metrônomo | </h7>
                                    <label style="color: white" for="bpm">BPM:</label>
                                    <input type="number" id="bpm" name="bpm" min="1" max="500" step="1" value="120" />
                                    <button id="start-button"><i class="fa fa-play"></i></button>
                                    <button id="pause-button"><i class="fa fa-pause"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="chat-container">
            <div id="chat-header">
                <label style="justify-content: center" id="titulo">Assistente Virtual</label>
                <button id="chat-toggle-btn">
                    <i id="chat-minimize" class="fa fa-chevron-down"></i>
                </button>
            </div>
            <div id="chat-body">
                <p>Bem-vindo! Como posso ajudar?</p>
            </div>
            <div id="chat-input">
                <input type="text" id="message" name="message" />
                <button id="send-button">Enviar</button>
            </div>
        </div>


        <footer class="border-top footer text-muted fixed-bottom">
            <div class="container">
                &copy; 2022 - Escola da Flavinha.
            </div>
        </footer>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/ChatGptAssistent.js"></script>
    <script src="/js/metronomo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.39/Tone.js"></script>

    <script>
                    document.getElementById("chat-toggle-btn").addEventListener("click", function() {
                        var chatContainer = document.getElementById("chat-container");
                        var chatToggleButton = document.getElementById("chat-toggle-btn");
                        var chatMinimize = document.getElementById("chat-minimize");
                        chatContainer.classList.toggle("chat-hidden");

                        if (chatContainer.classList.contains("chat-hidden")) {
                            chatMinimize.className = "fa fa-chevron-up";
                            document.getElementById("titulo").style.display = "none";
                            document.getElementById("chat-input").style.display = "none";
                            document.getElementById("chat-body").style.display = "none";
                        } else {
                            chatMinimize.className = "fa fa-chevron-down";
                            document.getElementById("titulo").style.cssText = "Assistente Virtual";
                            document.getElementById("chat-input").style.display = "block";
                            document.getElementById("chat-body").style.display = "block";
                        }
                    });


           var synth = new Tone.Synth({
            oscillator: {
                type: "sine" // Altere o tipo de oscilador para "sine" (senoidal)
            },
            envelope: {
                attack: 0.001, // Reduza o tempo de ataque para tornar o som mais curto
                release: 0.1 // Reduza o tempo de release para tornar o som mais curto
            }
        }).toDestination();

        var loop = null;
        var isPlaying = false;

        function playClick(bpm) {
            if (isPlaying) {
                stopClick();
            }

            loop = new Tone.Loop(function(time) {
                synth.triggerAttackRelease("C6", "16n", time); // Aumente a oitava para tornar o som mais agudo
            }, "4n");

            Tone.Transport.bpm.value = bpm;
            Tone.Transport.start();

            loop.start(0);
            isPlaying = true;
        }

        function stopClick() {
            if (isPlaying) {
                loop.stop(0);
                Tone.Transport.stop();
                isPlaying = false;
            }
        }

        var startButton = document.getElementById("start-button");
        var pauseButton = document.getElementById("pause-button");
        var bpmInput = document.getElementById("bpm");

        startButton.addEventListener("click", function() {
            var bpm = parseInt(bpmInput.value);
            if (bpm > 0) {
                playClick(bpm);
            }
        });

        pauseButton.addEventListener("click", function() {
            stopClick();
        });
    </script>

</body>
</html>
