@model IEnumerable<GestaoMusical_Web.Models.Login>
@{
    ViewData["Title"] = "Anotações";
}
<!doctype html>
<html lang="pt-BR">
<head>
    <title>Anotações</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="~/css/Chat.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7374116760887011"
            crossorigin="anonymous"></script>

</head>
<body class="img js-fullheight modal-dialog-scrollable" style="background-image: url(../images/bg.jpg); no-repeat center center fixed; overflow: hidden; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">
    <header>
        <div style="float: left; margin-top: 10px">
            <a href="Index" class="fa fa-arrow-left" aria-hidden="true"></a>
        </div>
    </header>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                @if (ViewBag.Sucesso != null && ViewBag.Sucesso)
                {
                    <div id="mensagem" class="alert alert-success" role="alert">
                        <p style="margin-bottom:auto"><strong>Sucesso!</strong> Sua ação foi realizada com êxito.</p>
                    </div>
                    <br />
                    <br />
                }
                @if (ViewBag.Sucesso != null && !ViewBag.Sucesso)
                {
                    <div id="mensagem" class="alert alert-warning" role="alert">
                        <p><strong>Erro!</strong> Sua ação não foi realizada com êxito.</p>
                    </div>
                    <br />
                    <br />
                }
                <div class="col-md-6 text-center mb-5" style="padding-bottom: 0 !important; margin-bottom:0 !important ">
                    <div style="font-size: 4rem; margin-top:-100px;   margin-left: -10px">
                        <h2 class="heading-section" style="font: bold" id="nome">Olá @ViewData["Nome"]!</h2>
                    </div>

                    <form asp-controller="Home" asp-action="FiltroNome" method="post">
                        <div class="row">
                            <div class="col-md-9 col-sm-9">
                                <select id="aluna" name="aluna" class="form-control-plaintext" style="height: 40px; color: #1f1916; background-color: #fbceb5; margin-bottom: 10px" asp-items="ViewBag.Lista"></select>

                            </div>

                            </br>
                            <div class="col-md-3 col-sm-3">
                                <input type="submit" style="margin-bottom: 10px" value="Pesquisar" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>

                </div>
                <div class="row">
                    <form asp-controller="Home" asp-action="AdicionaAnotacao" method="post">

                        <div style=" padding-top: 5px; text-align: center">
                            <textarea readonly="readonly" id="anotacao" name="anotacao" style="margin: auto; justify-content: center ;font:800; max-height: 65vh !important ; min-height: 65vh ;color: white; background-color: transparent; font-family: 'Dosis', sans-serif;"
                                      rows="13" cols="35" align="center">@ViewData["Anotacao"]</textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center mb-5" style="padding-left: 90px">
                                <input id="btnSalva" type="submit" style="display:none; text-align: center; margin: auto" value="Salvar Anotação" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                    <br>
                    <br>
                </div>
                <br>
                <br>
            </div>

            <div id="chat-container">
                <div id="chat-header">
                    Professora Flávia
                    <button id="chat-toggle-btn">
                        <i id="chat-minimize" class="fa fa-chevron-down"></i>
                    </button>
                </div>
                <div id="chat-body">
                    <p>Bem-vindo! Como posso ajudar?</p>
                </div>
                <div id="chat-input">
                    <input type="text" id="message" name="message" />
                    <button id="send-button">Enviar</button>
                </div>
            </div>


            <footer class="footer navbar-fixed-bottom">
                <div class="container">
                    &copy; 2022 - Escola da Flavinha.
                </div>
            </footer>
    </section>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/areaProf.js"></script>
    <script src="/js/ChatGptAssistent.js"></script>

    <script>
            document.getElementById("chat-toggle-btn").addEventListener("click", function() {
            var chatContainer = document.getElementById("chat-container");
            var chatToggleButton = document.getElementById("chat-toggle-btn");
            var chatMinimize = document.getElementById("chat-minimize");
            chatContainer.classList.toggle("chat-hidden");

            if (chatContainer.classList.contains("chat-hidden")) {
                chatMinimize.className = "fa fa-chevron-up";
            } else {
                chatMinimize.className = "fa fa-chevron-down";
            }
        });

    </script>
    <script>

        function MedidorSelecionado() {
        var aluna = $('#Alunas').val();
        location.href = "./Login/PesquisarAlunaId?IDaluna=" + aluna;
        }
    </script>

</body>
</html>

